/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

img.mole-image {
  max-width: 200px;
}


img.grayed {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.4;
}
